NODE_ENV=production
FLY_APP_NAME=artists-musicians-hub
FLY_REGION=dfw
ADMIN_EMAIL=artists.musicians.hub@gmail.com
ADMIN_PASSWORD_HASH=set_later
TWO_FA_SECRET=set_later
CSRF_SECRET=set_later
SESSION_SECRET=set_later
